a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.timer {
  display: flex;
  margin-top: 10px;
}
.field {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}
.value {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-decoration: solid;
  letter-spacing: 0.04em;
}
.label {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.errorMessage {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.delay-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-state {
  width: 180px;
}
